#
# FPC sensors
#

config BBK_FPC1511
	tristate "FPC1511 fingerprint sensor IRQ support"
	help
		If you say yes here you get IRQ support for the FPC1511 family
		of fingerprint sensors from Fingerprint Cards (FPC).
