config MTK_LCM
	bool "Enable LCM driver"
	default n
	help
	  define LCM driver config to enable LCM driver.
	  To set LCM driver which you choose avoid cannot driver LCM.
	  Please make sure CONFIG_MTK_LCM in xxxxxx_defconfig.mk.
	  And also make sure true on in ProjectConfig.mk

config CUSTOM_KERNEL_LCM
	string "define mediatek kernel LCM driver"
	help
	  To choose kernel LCM driver name.
	  This config is to select which LCM driver you want to use.
	  Please make sure CUSTOME_KERNEL_LCM in xxxxx_defconfig.mk.
	  And also make sure turn on in ProjectConfig.mk

config MTK_LCM_DEVICE_TREE_SUPPORT
	bool "support LCM device tree connect with display drivers"
	help
	  Decide whether to support LCM device tree based configuration.
	  This feature requires the connection between display driver and LCM devices.
	  Please also turn on MTK_LCM_DEVICE_TREE_SUPPORT in ProjectConfig.mk.
	  If not define MTK_LCM_DEVICE_TREE_SUPPORT
	  there will not connect between display driver and LCM devices.

config VIVO_MT6360_LDO1_SKIP_DISABLE
	bool "Skip MT6360_LDO1 to disalbe for lcm vci on boot"
	default n
	help
	  Select Y to skip to disable for lcm vci on buoot.

config VIVO_LM3697
	bool "LM3697(KTD3137) Support 21MA CURRENT"
	default n
	---help---
	  LED driver for lm3697(KTD3137) support.
	  Set y to support.
	  Set n to disable.

config VIVO_FINGERPRINT_V3
	bool "use fingerprint version 3"
	default n
	help
	  Select Y to use fingerprint version 3
