
config MTK_SMARTPROX_DETECT_HUB
	bool "smartprox detect hub for MediaTek package"
	default n
	help
	  A smartprox detect is a device, usually portable
	  and electronic or electromechanical, that detect device's smartprox.
