
config MTK_DROPDOWN_DETECT_HUB
	bool "dropdown detect hub for MediaTek package"
	default n
	help
	  A dropdown detect is a device, usually portable
	  and electronic or electromechanical, that detect device's dropdown.
